@-webkit-keyframes block_sibportfolio_pulsate {
    25% {
        background-color: transparent;
    }

    75% {
        background-color: rgba(255, 150, 150, 0.5);
    }
}

@keyframes block_sibportfolio_pulsate {
    25% {
        background-color: transparent;
    }

    75% {
        background-color: rgba(255, 150, 150, 0.5);
    }
}

.block_sibportfolio_requests {
    padding: 0 2px;
    border-radius: 3px;
    background-color: rgba(255, 150, 150, 0.5);
    -webkit-animation: block_sibportfolio_pulsate 1.5s linear infinite;
    animation: block_sibportfolio_pulsate 1.5s linear infinite;
}
