{% verbatim %}
<script id="block_sibportfolio_tmpl1" type="text/x-handlebars-template">
    {{# each users }}
    <tr>
        <td><a href='{{ ../wwwroot }}/blocks/sibportfolio/index.php?userid={{ userid }}' target='_blank'>{{ username }}</a></td>
        <td><input class='block_sibportfolio_text' type='text' name='numbers[{{ userid }}]' value='{{ number }}' autocomplete='off' size='10' style='margin: 0;' /></td>
        <td><input class='block_sibportfolio_text' type='text' name='specialties[{{ userid }}]' value='{{ speciality }}' placeholder='{{ ../phspeciality }}' autocomplete='off' size='20' style='margin: 0;' /></td>
        <td><input class='block_sibportfolio_text' type='text' name='studies[{{ userid }}]' value='{{ study }}' placeholder='{{ ../phstudy }}' autocomplete='off' size='10' style='margin: 0;' /></td>
    </tr>
    {{/ each }}
</script>

<script id="block_sibportfolio_tmpl2" type="text/x-handlebars-template">
    {{# each pages }}
    {{# if url }}
    <form style='float: left;' action='{{ ../../wwwroot }}/blocks/sibportfolio/users.php' method='get'>
        <input type='hidden' name='page' value='{{ caption }}' />
        <input type='hidden' name='groupname' value='{{ ../../group_name }}' />
        <input type='hidden' name='groupid' value='{{ ../../group_id }}' />
        <input class='block_sibportfolio_pagebtn block_sibportfolio_button' style='{{ style }}' type='submit' value='{{ caption }}'>
    </form>
    {{ else }}
    <button class='block_sibportfolio_button' style='float: left;' type='submit' disabled>..</button>
    {{/ if }}
    {{/ each }}
</script>
{% endverbatim %}

<script type="text/javascript">
	var jQuerySibport = jQuery.noConflict(true);

    jQuerySibport(document).ready(function ($) {

		var handle = false;

		var click = function (e) {
			if (!handle) handle = true;
			else return false;

			e.preventDefault();
			$("#block_sibportfolio_tablebody").empty();
			$("input[name=editRec]").hide();
			$(".alert").hide();
			$("#block_sibportfolio_load").show();
			var target = $(e.target);
			$.ajax({
				url: target.parent("form").attr("action"),
				timeout: 60000,
				data: target.parent("form").serialize(),
				type: "get",
				dataType: "json",
				success: function (data) {
					$(".block_sibportfolio_gname").text(data.current_group);
					$(".block_sibportfolio_tablediv")
						.children("input[name=groupid]").val(data.group_id).end()
						.children("input[name=groupname]").val(data.group_name).end()
						.children("input[name=page]").val(data.current_page).end()
						.children("input[name=sesskey]").val(data.sesskey);
					if (data.users.length > 0) $("input[name=editRec]").show();
					$("#block_sibportfolio_tmpl1").template(data).appendTo("#block_sibportfolio_tablebody");
					$("#block_sibportfolio_pages").empty();
					$("#block_sibportfolio_tmpl2").template(data).appendTo("#block_sibportfolio_pages");
					$(".block_sibportfolio_pagebtn").on('click', click);
				},
				error: function () {
					$(".block_sibportfolio_tablediv")
						.text("{{ error_label }}")
						.css({
							color: "red",
							"text-align": "center",
							"font-size": "14pt",
							"font-weight": "bold"
						});
				},
				complete: function () {
					$("#block_sibportfolio_load").hide();
					handle = false;
				}
			});
		}

		var delay = (function () {
			var timer = 0;
			return function (callback, ms) {
				clearTimeout(timer);
				timer = setTimeout(callback, ms);
			};
		})();	
	
        $('<span class="block_sibportfolio_showmore"></span>').insertAfter('select[name=groupid]');
        $(".block_sibportfolio_showmore").hide();
        $(".block_sibportfolio_btngroup").hide();

        $('.block_sibportfolio_groupname').keyup(function () {
            delay(function () {
                $.ajax({
                    url: "{{ wwwroot }}/blocks/sibportfolio/handlers/ajax/findgroup.php",
                    timeout: 10000,
                    data: $('.block_sibportfolio_groupname').parent("form").serialize(),
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        if (data.length > 2) $(".block_sibportfolio_showmore").show('fast');
                        var target = $("select");
                        target.empty();
                        for (var i = 0; i < data.length; i++) {
                            var group = data[i];
                            if (group.id == 0) continue;
                            target.append('<option value="' + group.id + '">' + group.name + '</option>');
                        }
                    }
                });
            }, 500);
        });

        $("<div id='block_sibportfolio_load' class='notification_label'><img src='{{ wwwroot }}/blocks/sibportfolio/pix/loading.gif'>  {{ loading_label }}</div>")
            .appendTo(".block_sibportfolio_tablediv")
            .hide();

        $('select').change(click);
        $(".block_sibportfolio_pagebtn").on('click', click);
        $('select').on('click', function () {
            $(".block_sibportfolio_showmore").hide('fast');
        });

    });
</script>